[2020-10-25 19:34] Zircoz opened #6 "Adding thumbnails in search results"
The URL of thumbnails is already sent in the response data. But these thumbnails aren't loaded since it has no code for it.

[2020-11-04 18:39] #6 closed

[2020-12-15 14:59] aniketsingh98571 opened #8 "Improvements needed on Home Page"
On the home page,  it will be good if you can make the contents align vertically and horizontally center by using flexbox
On the container, div use this.

`Container{
display:flex;
justify-content:center;
align-items:center;
height:80vh
}`

It will look like everything sorted and it is responsive on all devices.If not I can handle it.

[2020-12-15 15:04] aniketsingh98571 commented on #8
Looking forward to contributing to it as a part of DevScript Winter of Code.

[2020-12-16 02:48] shriyaMadan opened #10 "show the channel thumbnail with search results"

[2020-12-19 04:23] Aarush-Goyal commented on #10
@shriyaMadan I would like to work on this

[2020-12-19 04:26] Aarush-Goyal opened #11 "adding node_modules to the .gitignore file"
Node_Modules needs to be installed separately

[2020-12-19 04:26] Aarush-Goyal commented on #11
@shriyaMadan I would like to work on this

[2020-12-19 04:36] Aarush-Goyal commented on #11
@shriyaMadan I have solved the issue with this pr #12

[2020-12-19 08:58] shriyaMadan opened #13 "Feature of Sign-in to Youtube account"
Making a Sign-In for Youtube account so that a person can later view personal statistics on the dashboard.

[2020-12-19 09:01] shriyaMadan commented on #8
Kindly look for more improvements

[2020-12-19 10:40] Aarush-Goyal commented on #13
You want to add authentication with youtube? Should I do it with passport js?

[2020-12-19 14:36] Zircoz commented on #13
Hey @Aarush-Goyal !
We aim to provide users analysis of their channel's private stats, for which this app will need their permissions. See [documentation](https://developers.google.com/youtube/v3/guides/authentication) for the same.

[2020-12-19 20:05] #11 closed

[2020-12-19 22:05] Aarush-Goyal commented on #10
@shriyaMadan I am getting this error :
`Refused to load the image '<URL>' because it violates the following Content Security Policy directive: "img-src 'self' data:".
`
Can you help me with that?

[2020-12-20 06:33] Aarush-Goyal commented on #10
@shriyaMadan I have made a pr fixing the issue c-3 added channel thumbnails #14 kindly check it

[2020-12-20 06:39] Aarush-Goyal commented on #8
@aniketsingh98571 @shriyaMadan I guess we can just enhance the UI a little bit also would suggest using React js on the frontend

[2020-12-20 11:39] #10 closed

[2020-12-20 11:43] shriyaMadan commented on #8
@aniketsingh98571 @Aarush-Goyal Okay, enhancement is needed in the frontend but take into consideration that this will have the option of viewing own stats and other option of viewing public stats of any channel(which will be done without signing in to Youtube account).

[2020-12-20 11:45] shriyaMadan commented on #8
One major improvement needed rn is the name of the channel should be shown when its result is displayed.

[2020-12-20 11:57] shriyaMadan commented on #8
@aniketsingh98571 you can start working to improve the home page.

[2020-12-20 12:29] aniketsingh98571 commented on #8
`Container{ display:flex; justify-content:center; align-items:center; height:80vh }`

@shriyaMadan  Are you talking about this..?

[2020-12-20 18:50] shriyaMadan commented on #8
No @aniketsingh98571 these won't do any good.

[2020-12-20 22:19] Aarush-Goyal commented on #8
@shriyaMadan I will take care of the dsplay of names on the result page

[2020-12-21 00:42] Aarush-Goyal commented on #8
@shriyaMadan I have handled the issue of adding names in pr #15 pls review it

[2020-12-21 15:04] shriyaMadan commented on #8
@Aarush-Goyal done and dusted!

[2020-12-21 15:11] shriyaMadan opened #16 "Encourage youtubers by displaying relevant messages"
If some channel has 90 subscribers, then a message like "Only 10 more to reach 100!" And adding up with benefits we get after we reach that number. Like in 100 subscribers we can have a custom URL for our channel and live streaming via mobile app.
Also with a small encouraging animation saying "Kudos" and then the next target of maybe 500 subs.
Join the discussion with me to discuss more on this i

[2020-12-26 12:00] Sakshi-25 commented on #8
Hey, I want to contribute to this project. Kindly assign me some task.
Also, is this done using React / Node?

[2020-12-26 12:02] Sakshi-25 commented on #16
Kindly assign some creative task to me. I'm good at it. Can I create logos, stickers etc for this app?

[2020-12-26 14:02] Aarush-Goyal commented on #16
@Sakshi-25 Yes I guess a logo would be great

[2020-12-26 14:05] Aarush-Goyal commented on #8
@Sakshi-25 Yes this is made using Node. I will be adding react after some time. If you want to act react you can go forward with that.

[2020-12-26 20:34] shriyaMadan opened #17 "create a logo for this project"
Keep the following in mind while making the logo:
-The logo should be designed such that it looks good both in light and dark mode.
-This project is about statistics and data about youtube channels. So the logo should be designed accordingly.

You can discuss more in the discussions session
Ideas are welcomed.

[2020-12-26 20:36] shriyaMadan commented on #16
@Sakshi-25 a new issue for the logo is made. You can start working on it and comment there.

[2020-12-27 03:26] Rimpi246 opened #18 "Having search suggestion"
There is no search suggestion like in the YouTube app itself. So that we don't need to type much

[2020-12-27 04:37] Muskan10Mehta commented on #17
Hey! I would like to work on this issue..

[2020-12-27 06:27] pankajkumarbij commented on #18
Hello, I would like to contribute to this issue.

[2020-12-27 07:15] Vrushti24 commented on #17
I would like to contribute in this project please guide me!!

[2020-12-27 14:20] Rimpi246 commented on #18
Me too...But I don't know what tools will be required

[2020-12-27 15:01] shriyaMadan commented on #18
@pankajkumarbij you can start contributing to this issue.

[2020-12-27 15:03] shriyaMadan commented on #17
@Muskan10Mehta you can start creating a logo for this project.

[2020-12-27 15:07] shriyaMadan commented on #18
What are you gonna use @pankajkumarbij  for search suggestions?

[2020-12-27 15:10] pankajkumarbij commented on #18
SImple JavaScript and Jquery.

[2020-12-27 15:25] Satyam1203 commented on #8
Can I work on the improvement of homepage? Can do it either in **ReactJS** or just ejs template through node.js. @shriyaMadan @Aarush-Goyal

[2020-12-27 15:27] Rimpi246 commented on #18
@shriyaMadan Allow me too to contribute to this feature

[2020-12-27 15:46] shriyaMadan commented on #18
@Rimpi246 what's your idea to work on this issue?

[2020-12-27 15:54] shriyaMadan commented on #8
yes @Satyam1203, you can work on this issue. The project isn't in React yet, it would be using a framework soon.

[2020-12-27 15:56] Satyam1203 commented on #8
@shriyaMadan, should I make it use ReactJS then?

[2020-12-27 16:02] shriyaMadan commented on #8
yes, you may start working on it, me and @Aarush-Goyal will help.

[2020-12-27 16:04] Rimpi246 commented on #18
I will use javascript ,jQuery and google API

[2020-12-27 17:15] Rimpi246 commented on #16
Ma'am where to join the discussion?

[2020-12-27 18:44] Sakshi-25 commented on #17
@shriyaMadan I was assigned this issue ( when this issue for logo was not created). Please see to this, I've made some logos.

Logo1 : https://www.figma.com/file/wGeErIP3VIQhTYNM2oYwpO/Untitled?node-id=0%3A1
Logo 2 : https://www.figma.com/file/LihUWtUPMceHqo9wqlPWeI/Logo-Youtube-Dashboard?node-id=0%3A1
Logo 3 : https://www.figma.com/file/tKFdlXtySVIH0TbKBIqDqG/Logo1?node-id=0%3A1

[2020-12-27 18:45] Sakshi-25 commented on #16
I made logo and commented on the issue for the logo. Kindly see to it so that I can make a PR. Please assign me for logo.

[2020-12-27 19:08] Muskan10Mehta commented on #17
Hey! I have designed two logo designs for now, please let me know if any changes are required..

![1](https://user-images.githubusercontent.com/69207355/103177966-d167a880-48a4-11eb-8e79-5b3c4cb08a04.png)
![2](https://user-images.githubusercontent.com/69207355/103177968-d298d580-48a4-11eb-990e-60559d58a307.png)
![3](https://user-images.githubusercontent.com/69207355/103177970-d4629900-48a4-11eb-8a

[2020-12-28 05:17] luckykumarirai opened #19 "Improvement of UI for home page"
#  Design a better UI for the home page
if approved I would like to work on this.

[2020-12-28 05:44] Sakshi-25 commented on #19
Hey I would like to design a UI for home page, ( A background image) ,
**Kindly assign me this task**. I'll use Figma for this.

[2020-12-28 06:30] luckykumarirai commented on #19
Hello
@Sakshi-25 i have create this issue because i have already start  working on this.

[2020-12-28 07:21] Aarush-Goyal opened #21 "Enhance the ui of "/" route page"
The page is actually just having a link to login with YoutTube it would be nice to have a better-looking page

[2020-12-28 07:22] Aarush-Goyal commented on #18
@Rimpi246 Don't you think Jquery is a bit old school?

[2020-12-28 07:24] Aarush-Goyal commented on #13
I have fixed the issue with pr #20 also do contact me for getting a better understanding of the auth flow and Oauth Verification

[2020-12-28 07:25] Aarush-Goyal commented on #17
@Sakshi-25  The first one looks good but don't you think you should use a better font for the small text

[2020-12-28 07:55] Sakshi-25 commented on #19
Okay, are you working on the **coding part** (Nav bar, search bar, buttons etc) or **the design part** (images, about etc)?
Can we work together on this issue?

[2020-12-28 08:52] Aarush-Goyal commented on #17
https://www.figma.com/file/DSdZ2egARZwgy18mX4nmoM/Untitled?node-id=3%3A0
https://www.figma.com/file/DSdZ2egARZwgy18mX4nmoM/Untitled?node-id=4%3A11

[2020-12-28 08:56] Aarush-Goyal commented on #17
https://www.figma.com/file/DSdZ2egARZwgy18mX4nmoM/Untitled?node-id=3%3A0
https://www.figma.com/file/DSdZ2egARZwgy18mX4nmoM/Untitled?node-id=4%3A11
Have a look at these @shriyaMadan @Muskan10Mehta @Sakshi-25

[2020-12-28 09:23] Sakshi-25 commented on #17
They're good!! we can use these in different parts of websites, like Output buttons, One logo can be used on the login page, one on the main website, like that.
@shriyaMadan Kindly sort this.

[2020-12-28 10:44] Sakshi-25 commented on #21
Kindly assign me this issue.

[2020-12-28 10:54] Aarush-Goyal commented on #21
Cool you can start working on it @shriyaMadan will soon assign it to you

[2020-12-28 10:59] Muskan10Mehta commented on #17
these are great but dont you think the gears make it look more like its a settings logo?

[2020-12-28 11:00] Aarush-Goyal commented on #19
There is a similar issue opened #8 there was no need to make another issue for this @luckykumarirai Please contribute to that issue.

[2020-12-28 11:01] luckykumarirai commented on #19
okay

[2020-12-28 11:59] bhavesh1129 opened #23 "Adding contributing file and update readme"
Hey @shriyaMadan!
I want to rearrange your existing readme file.
And add contributing.MD file by including all necessary details, guidelines, and to look it better I will add some relevant images and emojis.

Hope you like it.
Thank you!

[2020-12-28 12:57] Chetna23-code commented on #17
I would like to contribute to this issue.

[2020-12-28 17:50] shriyaMadan commented on #17
@Muskan10Mehta your YTD logo was good, but it's looking old style, try to improve it.

[2020-12-28 17:56] shriyaMadan commented on #21
I am thinking to make a single button on the homepage itself for login.

[2020-12-29 04:17] Muskan10Mehta commented on #17
sure

[2020-12-29 05:58] Sloth-Panda commented on #23
Hey, can I help with this issue?

[2020-12-29 06:00] Sloth-Panda commented on #8
Hey, I can take this issue. please let me know

[2020-12-29 12:51] tharunc opened #25 "Update readme.md"
Hello there,
    I would like to work on the readme.md. Kindly assign it to me.

[2020-12-29 13:25] dsnehasish74 commented on #21
Can you assign this to me . I would love to contribute

[2020-12-29 16:27] shriyaMadan commented on #23
@bhavesh1129 Let me know if you have started work?

[2020-12-29 16:28] shriyaMadan commented on #25
There's already an issue with this name. No need to create similar issues @tharunc

[2020-12-29 16:30] bhavesh1129 commented on #23
Yeah, @shriyaMadan, I had already started my work and it is almost complete.
Also, I'll make the PR soon.

[2020-12-29 16:55] shriyaMadan commented on #17
@Muskan10Mehta any update?

[2020-12-29 16:58] shriyaMadan opened #26 "UX design for webpages of this app"

[2020-12-29 17:20] shriyaMadan opened #27 "The channel which is signed up, should see their Likes/subs/view count."

[2020-12-29 17:45] Aarush-Goyal commented on #26
I will like to work on it

[2020-12-29 17:46] Aarush-Goyal commented on #26
@shriyaMadan I will make the changes in css will it be fine

[2020-12-29 17:53] Aarush-Goyal opened #30 "Making the pages responsive"

[2020-12-29 18:07] tharunc opened #31 "Add CODE_OF_CONDUCT"

[2020-12-29 18:48] shriyaMadan commented on #8
@Satyam1203 any updates?

[2020-12-29 18:50] Satyam1203 commented on #8
I'm on it @shriyaMadan. Most probably would drop a PR by tomorrow end.

[2020-12-29 19:54] dsnehasish74 commented on #30
Please Assign this to me .

[2020-12-29 20:23] shriyaMadan commented on #13
Good work!

[2020-12-29 20:49] #13 closed

[2020-12-30 01:30] shriyaMadan commented on #23
@bhavesh1129 check the linked pull request and my comment

[2020-12-30 01:32] shriyaMadan commented on #21
This issue is not needed now, the Login button will be on the homepage itself.

[2020-12-30 01:33] #21 closed

[2020-12-30 01:34] shriyaMadan commented on #18
Any progress? @pankajkumarbij

[2020-12-30 01:42] shriyaMadan commented on #26
first show the design of the webpage you made

[2020-12-30 07:15] Zircoz commented on #23
@shriyaMadan he has basically copy pasted the file with some changes from somewhere else ;---; Even the screenshots are not of this project ;--; So ludicrous.
I suggest removing the labels from his Pull Request and asking him to do another with more careful commits or assign it to someone else. We don't need hacktoberfest2020 all over again ;--; LMK what you think.

[2020-12-30 08:09] Muskan10Mehta commented on #17
yes
![6](https://user-images.githubusercontent.com/69207355/103338292-e9594b00-4aa3-11eb-8c99-157be8a01062.png)
![8](https://user-images.githubusercontent.com/69207355/103338293-ea8a7800-4aa3-11eb-918c-c6150d2087e0.png)
are these okay?

[2020-12-30 08:16] bhavesh1129 commented on #23
Hey @Zircoz!
I had not copy-pasted all this stuff as I was assigned to update the contributing files of 2,3 projects so by mistake I had added the wrong screenshots and don't compare each and everyone with Hacktoberfest20 without knowing the actual reason.
and sorry for the inconvenience.
I apologize for that.

[2020-12-30 08:24] tharunc commented on #31
Hello there,
      I would like to add CODE_OF_CONDUCT.md, to this repo. Kindly assign me this issue.
                     THANK YOU

[2020-12-30 08:51] Zircoz commented on #23
Kewl @bhavesh1129 ,
Thanks for clarifying

[2020-12-30 12:25] pankajkumarbij commented on #18
This issue is solved but now I not able to run the project.
When I run the project it asks for the keys.json file but previously it not asking for keys.json I think you merged some new PR.
Please tell me about the keys.json file  So I can make a PR.

[2020-12-30 12:35] pankajkumarbij commented on #18
I have sent a PR.
Please review it.

[2020-12-30 15:09] Swapnil-Gaur commented on #30
Is the issue  unassigned?
I am interested  in it

[2020-12-30 15:59] bhavesh1129 commented on #26
I want to work on this issue.

[2020-12-30 16:12] Aarush-Goyal commented on #30
I have already started working on it so I guess @dsnehasish74 @Swapnil-Gaur you guys can work on another issue

[2020-12-30 16:12] #30 closed

[2020-12-30 16:14] Aarush-Goyal commented on #17
@Muskan10Mehta great work on the logos

[2020-12-30 19:15] akrish4 commented on #31
@shriyaMadan
Shall I also work on this issue ? Do let me know

[2020-12-30 19:29] shriyaMadan commented on #23
@bhavesh1129 your PR has a conflict, kindly resolve it and send a PR again.

[2020-12-30 19:32] shriyaMadan commented on #23
Send PR in new branch named "Docs updation" @bhavesh1129

[2020-12-30 21:47] shriyaMadan commented on #23
Git pull to save the existing changes before pushing @bhavesh1129

[2020-12-30 22:13] shriyaMadan opened #37 "Report on relevant features Youtubers get"
This web app will have a feature where YouTubers will know all features they have access to. And all features they will get access to in the future when they reach a certain number of subscribers.
So, generate a report in google docs mentioning all the features YouTubers get with their range of total number of views/subscribers/likes.

[2020-12-31 02:57] sakshikhachane commented on #37
@shriyaMadan I would like to work on this issue. Please assign me this issue.

[2020-12-31 04:00] Rimpi246 commented on #37
I have made the report.

[2020-12-31 04:00] Rimpi246 commented on #37
And I would like to work on this issue

[2020-12-31 13:25] Aarush-Goyal commented on #16
I would like to work on this

[2020-12-31 14:12] Muskan10Mehta commented on #17
Thanks!

[2020-12-31 22:31] shriyaMadan commented on #37
send the link of the report to me in discord if it is completed @Rimpi246

[2020-12-31 22:31] #31 closed

[2020-12-31 22:33] #18 closed

[2021-01-01 01:22] shriyaMadan opened #39 "Fix search bar"
The functionality of both search bars should be done by one.
We should be able to search by both Channel name and Channel URL.

[2021-01-01 02:05] shriyaMadan commented on #23
Updation of Readme Still needed, All the Steps of Running this File locally need to be in one single MD file named: "Run on Localhost Guide"
In the Readme file, the link of "Run on Localhost Guide" and "Contributing guide" should be mentioned.
And Remove those steps from the Contributing guide.

[2021-01-01 02:09] shriyaMadan commented on #23
Steps including both Creating of Youtube API Key and Oauth should be in one single file.

[2021-01-01 02:30] Sloth-Panda commented on #39
Hey, let  me take this

[2021-01-01 04:11] akrish4 opened #40 "MAJOR UPDATE IN README"
### Hi @shriyaMadan
### I would like to work on beaautifying the readme file suing badges which will look perfect and gives nice look to it.
### Kindly assign me this issue

![readme1](https://user-images.githubusercontent.com/61831021/103433336-6d7f1000-4c15-11eb-86aa-df0820c75160.PNG)
Similar to the above image , I can add few badges which gives a better look and also in readme file there is no

[2021-01-01 08:27] Aarush-Goyal commented on #39
I have started working on it can you assign it to me?

[2021-01-01 11:16] shriyaMadan commented on #23
Who's working on this? I wanna revert Contributing Guide again @bhavesh1129 You copied it from Readme again.

[2021-01-01 11:17] shriyaMadan commented on #40
@akrish4 check #23

[2021-01-01 11:20] #37 closed

[2021-01-01 11:21] #40 closed

[2021-01-01 11:59] akrish4 commented on #40
Let me know if you can assign me this iissue , #23 is now about the guide for localhost running and youtube api ..
But what i have suggested is something else , If you are interested in making your readme file similar to above message , you could assign me this issue to work on this particular feature

[2021-01-01 12:27] Zircoz opened #41 "Fix bug for heroku"

[2021-01-01 12:29] Zircoz commented on #41
@shriyaMadan This was sooooooooooooooo easy, i can't believe we missed it. Anyway, which branch here is the latest to push my fixes to?

[2021-01-01 12:46] shriyaMadan commented on #41
Obv. Master xD

[2021-01-01 13:17] Zircoz commented on #41
Please remove dwoc labels here too @shriyaMadan

[2021-01-01 13:17] #41 closed

[2021-01-02 04:02] shriyaMadan commented on #8
@Satyam1203 updates?

[2021-01-02 06:48] shriyaMadan commented on #23
@Sloth-Panda are you willing to add a Contribution Guide?
Make sure that you mention its link in the Readme file also.

[2021-01-02 06:54] Sloth-Panda commented on #23
yes yes sure I just forgot to do will do it and let you know soon

[2021-01-02 07:00] Sloth-Panda commented on #23
But why have you removed the tags of DWoC ?? Kindly add them. I see there's a 500 error while I am cloning this project. what can I do about that?

[2021-01-02 07:01] shriyaMadan commented on #23
I was changing tags, Are you not on discord?

[2021-01-02 07:03] shriyaMadan commented on #23
On discord group send your Gmail id.

[2021-01-02 07:11] Sloth-Panda commented on #23
Yes I am on discord

[2021-01-02 07:24] muthuannamalai12 opened #44 "Add Contributors.md and Modify README.MD file"
Hai,
I would love to add the Contributors.md file to your project in the form of a table and display a link to it in the README.md file. I would also add a link to the Code of Conduct in README.md. If you like I can also add badges for forks, open issue, and pull request in README.md

[2021-01-02 07:24] muthuannamalai12 commented on #44
I would to work on this issue as a part of DWOC. Kindly assign me this issue

[2021-01-02 09:18] Zircoz commented on #44
It is already being worked upon in #23 lol

[2021-01-02 09:30] muthuannamalai12 commented on #44
I have opened an issue for contributors file and not the contributing guide.The issue you have mentioned is for ways for contributing

[2021-01-02 10:56] Zircoz commented on #44
Alright, @muthuannamalai12

[2021-01-02 11:06] Aarush-Goyal commented on #39
The issue has been resolved in #46 @shriyaMadan

[2021-01-02 11:29] shriyaMadan commented on #44
@muthuannamalai12 No it isn't needed.

[2021-01-02 11:29] #44 closed

[2021-01-02 11:30] muthuannamalai12 commented on #44
Ok. Thank you

[2021-01-02 11:56] Aarush-Goyal commented on #39
The issue has been further resolved in #47 @shriyaMadan

[2021-01-04 11:39] shriyaMadan commented on #23
@Sloth-Panda updates?

[2021-01-04 12:48] Sloth-Panda commented on #23
Hey, it still shows that error 500. Even I can't see the forked repo it says error 500.

[2021-01-04 13:23] Muskan10Mehta commented on #17
@shriyaMadan any decisions on logo?

[2021-01-06 02:36] Sloth-Panda commented on #23
Hey, it seems like you have not yet resolved the issue

[2021-01-06 03:18] Sloth-Panda opened #51 "Readme can be made to look better"
Adding different programs and links to code-of-conduct and contributing with some gifs also may make readme a little bit nicer

[2021-01-06 03:32] Aarush-Goyal commented on #26
![Dashboard](https://user-images.githubusercontent.com/64161383/103725936-b102c100-4ffd-11eb-9a10-d279cac1dbef.png)
@shriyaMadan  I have designed a ui for the dashboard over here

[2021-01-06 03:33] Aarush-Goyal opened #53 "making the home page in react"
@shriyaMadan I would like to make the pages in react

[2021-01-06 03:37] Aarush-Goyal commented on #53
![Dashboard](https://user-images.githubusercontent.com/64161383/103726315-a09f1600-4ffe-11eb-8f5f-899d7d342bc0.png)
I would be converting this to code

[2021-01-06 08:44] Aarush-Goyal opened #54 "making the react landing page responsive"
The landing pages are not responsive now.
components that needs to be made responsive
- landing page component
- navbar

[2021-01-06 08:44] Aarush-Goyal commented on #54
I would like to work on it @shriyaMadan

[2021-01-06 09:15] #39 closed

[2021-01-06 09:39] shriyaMadan commented on #23
Where is your PR @Sloth-Panda? I can't find any contributing Guide.
Also to resolve your error join the discord group chat for this project.

[2021-01-06 09:41] shriyaMadan commented on #51
There is no contributing guide yet. Complete your previous assigned issue and close this one.

[2021-01-06 09:47] shriyaMadan opened #55 "Bug to be resolved"
There's a bug to be fixed for users who are not added to the test user list.
Promise rejection is not handled.

[2021-01-06 09:48] shriyaMadan commented on #26
Any discussion on the UI is welcomed folks.

[2021-01-06 09:50] #8 closed

[2021-01-06 09:55] shriyaMadan commented on #17
Yes your third YTD logo looks good, maybe will suggest changes while using it in UI.

[2021-01-06 10:10] shriyaMadan opened #56 "Testing Webhook for discord"

[2021-01-06 10:19] #56 closed

[2021-01-06 10:32] shriyaMadan opened #57 "Add Login button to public home page"
(In the current branch master, not the one using React)

[2021-01-06 11:01] #51 closed

[2021-01-06 18:48] tharunc opened #58 "Integrate Welcome Bot"
Hello there,
         I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time as a part of DWOC. Please assign me this issue.
For reference, kindly check out: https://github.com/apps/welcome

THANK YOU

[2021-01-06 19:03] sanjay270899 commented on #55
Can you elaborate more on this issue?

[2021-01-06 20:50] Aarush-Goyal commented on #58
This will be a super nice feature to have 😃

[2021-01-06 20:54] shriyaMadan commented on #23
Also, add the link of the contributing guide to readme @Sloth-Panda so that I can close this issue.

[2021-01-06 21:04] shriyaMadan commented on #55
This web app is currently in a test environment, so for anyone to use it, I will add his/her email id as a test user. And if someone is not added as a test user will try logging in, then an error message occurs.
Also, when that same user is added as a test user after he tried logging in already, he will get an Internal Server Error(500).

[2021-01-06 21:07] shriyaMadan commented on #55
To see both kinds of errors, try logging in first, then send your email id.
One email id which you used for logging in and another email id that you never used to log in.
You can send them here or discord group of this project.

[2021-01-06 21:43] #17 closed

[2021-01-06 22:22] Aarush-Goyal commented on #57
on it @shriyaMadan

[2021-01-07 06:20] SuNiL-Chau commented on #26
Working on it have a look https://www.figma.com/file/hgTxpqB8NmmT5fPvntSJFu/ydb?node-id=0%3A1

[2021-01-07 11:24] #23 closed

[2021-01-07 11:38] #58 closed

[2021-01-07 13:25] muthuannamalai12 opened #68 "Create Issue Template"
Hai,
I would love to add an issue template for your repository. This template would have four issues namely bug, documentation, feature, proposal.

[2021-01-07 13:25] muthuannamalai12 commented on #68
I would love to work on this issue as a part of DWOC. Kindly assign it to me

[2021-01-07 14:11] Muskan10Mehta commented on #17
okay.. thanks for the oppurtunity

[2021-01-07 14:36] #54 closed

[2021-01-07 14:36] #53 closed

[2021-01-07 18:32] Aarush-Goyal opened #70 "Connecting the frontend(react) with the backend"
This can be done by using http proxy.

[2021-01-07 18:32] Aarush-Goyal commented on #70
@shriyaMadan I would like to work on it

[2021-01-07 20:41] shriyaMadan commented on #57
Improved work this time! Cool!

[2021-01-07 20:41] #57 closed

[2021-01-08 07:10] yashsehgal commented on #26
Can I work on this issue?

[2021-01-08 12:40] #68 closed

[2021-01-08 12:43] shriyaMadan commented on #26
yes @yashsehgal we are looking for more ideas. You can propose your design.

[2021-01-08 12:50] shriyaMadan commented on #17
Hey @Muskan10Mehta send a PR of your logo so that it is counted under DWOC.

[2021-01-09 15:11] shriyaMadan opened #73 "Add Discord Link in readme, improve Readme"
## 📚 Documentation

Readme file should become more representable with good emojis and stickers used and add discord group link.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/shriyaMadan/Youtube-Dashboard/blob/master/CONTRIBUTING.md)?

[2021-01-09 17:15] tharunc commented on #73
Hello there,
   I would like to work on this Issue as a part of **DWOC**. Can you please assign me this issue.
THANK YOU

[2021-01-09 21:17] shriyaMadan commented on #73
Also mention about following templates for issues and the wiki I have added for the PR naming convention.

[2021-01-10 07:16] Sloth-Panda opened #74 "Project name needs to be changed to Youtube-Dashboard of the issue template"
![Screenshot (43)](https://user-images.githubusercontent.com/70213384/104116775-bafc2b00-5341-11eb-91b9-12a0a301713b.png)

[2021-01-10 13:14] tharunc commented on #73
Can you please share your Discord link ?

[2021-01-10 13:25] shriyaMadan commented on #73
Here: https://discord.gg/UhZGbDpw8G

[2021-01-10 15:25] SuNiL-Chau commented on #26
Hey @shriyaMadan I have updated the design have a look
https://www.figma.com/file/hgTxpqB8NmmT5fPvntSJFu/ydb?node-id=0%3A1

[2021-01-10 17:11] shriyaMadan commented on #70
Updates @Aarush-Goyal?

[2021-01-11 14:38] shriyaMadan commented on #73
Hey @tharunc what is taking so long? I guess these are small changes.

[2021-01-11 14:41] #74 closed

[2021-01-11 14:43] shriyaMadan commented on #26
Good work! @SuNiL-Chau

[2021-01-11 14:52] shriyaMadan opened #77 "Suggest SEO Keywords"
## 🔎 Feature

Suggest keywords and hashtags for increasing Search Engine Optimization(SEO) of a video.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/shriyaMadan/Youtube-Dashboard/blob/master/CONTRIBUTING.md)?

[2021-01-11 14:59] shriyaMadan opened #78 "Algorithm for Filtering Comment Section"
## 🔎 Feature

Write an algorithm to censor words from the comment section and make a list of words to be removed.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/shriyaMadan/Youtube-Dashboard/blob/master/CONTRIBUTING.md)?

### Pitch

This will help Youtubers to clean out their comments easily.

[2021-01-11 15:02] shriyaMadan opened #79 "UI development in React"
Complete the UI development of this application along with another contributor in REACT.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/shriyaMadan/Youtube-Dashboard/blob/master/CONTRIBUTING.md)?

[2021-01-11 15:04] Aarush-Goyal commented on #79
On it @shriyaMadan

[2021-01-11 15:05] Aarush-Goyal commented on #78
@vyommartin this would be a cup of tea for you

[2021-01-11 15:12] shriyaMadan commented on #78
It would be best if he writes it in Javascript.

[2021-01-11 15:57] AbhipsaGuru1012 commented on #77
Hi @shriyaMadan, can I work on this issue?

[2021-01-11 16:08] SuNiL-Chau commented on #26
Thank you @shriyaMadan so is there anything you want me to update or we are keeping this final?

[2021-01-11 16:11] SuNiL-Chau commented on #77
Can you elaborate @shriyaMadan ?

[2021-01-11 23:03] shriyaMadan commented on #77
Hey @SuNiL-Chau the idea to improve SEO of the videos, we will be suggesting keywords for videos so that YouTubers can use them in the description.

[2021-01-11 23:11] shriyaMadan commented on #77
yes definitely, before you start give me the idea of how you are gonna do it, also you can discuss it in discord.

[2021-01-12 05:07] tharunc commented on #73
Sorry for the inconvenience. I will complete the task by today.
THANK YOU

[2021-01-12 05:19] AbhipsaGuru1012 commented on #77
Sure, I am just pinging in the group in discord.

[2021-01-12 06:30] Sloth-Panda opened #80 "Updating the issue template"
## ✨ Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/shriyaMadan/Youtube-Dashboard/blob/master/CONTRIBUTING.md)?

(Write your answer here.)

[2021-01-12 12:50] manishsamota opened #82 "Google hasn't verified this app,"
![BUG](https://user-images.githubusercontent.com/59643473/104316377-648a1a80-5502-11eb-8f52-25cf47cdcbfc.png)

When I try to login into this app using my Gmail then it shows me a message that is :
Google hasn't verified this app. So you can verify it from Google as soon as possible.

[2021-01-12 16:03] shriyaMadan commented on #82
@manishsamota check the Readme.md file. I have mentioned there already that app has gone for verification and may take time.

[2021-01-12 16:03] #82 closed

[2021-01-12 16:04] #80 closed

[2021-01-13 13:12] kanishkaa24 commented on #26
@shriyaMadan
Can I work on this ?

[2021-01-13 16:14] shriyaMadan commented on #26
yes you can suggest designs

[2021-01-13 16:17] kanishkaa24 commented on #26
Please assign me.

[2021-01-13 16:23] shriyaMadan commented on #26
Check the discord group to see other designs

[2021-01-14 10:45] muthuannamalai12 opened #85 "PR TEMPLATE"
## 🔎 Feature
I can add a pr template , which will have few checklists and options like uploading screenshots and describing about the pr etc , which will give better understanding of pr for the maintainer
(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/shriyaMadan/Youtube-Dashboard/blob/master/CONTRIBUTI

[2021-01-14 14:49] muthuannamalai12 commented on #85
I would love to work on this issue as a part of DWOC. Kindly assign it to me

[2021-01-14 15:47] Aarush-Goyal commented on #85
This can also be a pr template

## Feature description

Clearly and concisely describe the feature.

## Solution description

Describe your code changes in detail for reviewers.

## Output Screenshots

Post the output screenshots, if an UI is affected or added due to this feature.

## Address affected and ensured

List out the areas affected by your code change.

**Related PRs:** #ADD ANY RELATED

[2021-01-14 19:42] shriyaMadan opened #86 "Enhancing UI"
## 🔎 Feature

A confetti design for reaching 1k, 10k, 100k.. subscribers.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/shriyaMadan/Youtube-Dashboard/blob/master/CONTRIBUTING.md)?

Just so good to make it shareable on social media.

[2021-01-15 06:35] SuNiL-Chau commented on #86
Hey, @shriyaMadan I would like to try :)

[2021-01-15 11:06] Sloth-Panda commented on #73
@shriyaMadan I can happly do it in few minutes can you assign me too.

[2021-01-15 15:07] Zircoz opened #87 "Merge Login button to statPub page and refactor relevant code"

[2021-01-15 15:07] Zircoz commented on #87
@shriyaMadan Please assign it to me

[2021-01-15 21:05] Sloth-Panda commented on #73
pr -> #88

[2021-01-16 17:51] #73 closed

[2021-01-17 11:11] sanjay270899 opened #89 "Remove node_modules in master branch"
We should not push node_modules in the remote repo.

I would like to work on this.

[2021-01-17 17:38] shrushti2000 commented on #79
I would like to work on this.

[2021-01-17 20:03] Zircoz commented on #89
I have already added it to gitignore in #87 (will push it with other changes)

[2021-01-17 21:43] Sloth-Panda opened #90 "Creation of pr template"
Hey, there is no pr template of ur project so let me know if  I can make one

[2021-01-18 13:50] kanishkaa24 commented on #86
Is this an implementation issue or a designing issue?

[2021-01-18 14:07] kanishkaa24 commented on #26
![My YouTube Dashboard](https://user-images.githubusercontent.com/71253790/104925223-8e40b700-59c4-11eb-8ee0-c44c0ec26f92.png)
Please let me know your views. @shriyaMadan

[2021-01-18 19:15] Amit366 commented on #79
Can elaborate on what to do?

[2021-01-18 21:34] #70 closed

[2021-01-18 21:35] Aarush-Goyal commented on #77
I would like to do that

[2021-01-20 17:08] #87 closed

[2021-01-20 17:33] shriyaMadan opened #92 "For Invalid URL"
## ✨ Proposal

When the Channel-URL is wrong, it sends an invalid URL as a response.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/shriyaMadan/Youtube-Dashboard/blob/master/CONTRIBUTING.md)?

[2021-01-20 18:22] Zircoz commented on #92
If no one takes this in next 2-3 days, I can do this :D

[2021-01-21 02:05] sakshikhachane commented on #92
@shriyaMadan I would like to work on this.

[2021-01-21 05:59] Aarush-Goyal commented on #92
Can I do this?

[2021-01-21 06:01] Aarush-Goyal commented on #26
Hey @shriyaMadan  can you close this issue

[2021-01-21 06:22] Zircoz opened #93 "Add Linters"
## ✨ Proposal

Add and configure ESLint to make code even for all.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/shriyaMadan/Youtube-Dashboard/blob/master/CONTRIBUTING.md)?
Yes

[2021-01-21 06:23] Zircoz commented on #93
@shriyaMadan Please assign it to me, will get it done in some days.

[2021-01-21 06:42] Zircoz opened #94 "Merge various controller's channel search"
## ✨ Proposal

Right now, the controllers are written separately while each one is doing pretty much the same (or similar operation). We can merge this functionality into one pure function.
Read what are pure functions here: https://www.freecodecamp.org/news/functional-programming-principles-in-javascript-1b8fc6c3563f/

### Have you read the [Contributing Guidelines on Pull Requests](https://githu

[2021-01-21 06:44] Zircoz commented on #94
@shriyaMadan may I get assigned to this ?

[2021-01-21 19:57] shriyaMadan commented on #92
Issue details updated, tell me if you can do this?

[2021-01-21 19:58] shriyaMadan commented on #92
Issue details updated, tell me if you can do this?

[2021-01-21 20:13] shriyaMadan commented on #94
Yes, you may start working on this, it will avoid redundancy.

[2021-01-21 20:51] shriyaMadan commented on #26
Good efforts, but this design won't be used, it has No. of dislikes & comments, which are not needed.
Also, the bg of this isn't making any sense according to what our Project is on.
Sorry, @kanishkaa24 this can't be accepted.

[2021-01-21 21:22] shriyaMadan commented on #93
Yes we can use ESlint

[2021-01-24 15:12] tusharnankani opened #96 "Safety Issue: App not verified by google"
## 🐛 Bug Report

![image](https://user-images.githubusercontent.com/61280281/105634539-7a91c680-5e84-11eb-95d9-c199e7824bbd.png)

Facing this while logging in. Don't know how to fix this, but I thought could be addressed.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/shriyaMadan/Youtube-Dashboard/blob/master/CONTRIBUTING.md)?

Yes

[2021-01-25 12:33] shriyaMadan commented on #96
It's already under process and I have mentioned it on the Readme file.

[2021-01-26 15:15] shriyaMadan commented on #92
updates?

[2021-01-28 15:04] suchi12j commented on #93
Can i work on this issue?

[2021-01-28 15:07] shrutijha16 commented on #93
can i work on this issue?

[2021-01-29 13:50] shriyaMadan commented on #94
@Zircoz updates, please?

[2021-01-29 14:05] Zircoz commented on #94
Sorry for the delay, didn't get time to do it. Hence, I am unassigning myself.

[2021-01-29 17:56] shriyaMadan commented on #93
@shrutijha16 yes

[2021-01-29 17:57] shriyaMadan commented on #94
You could have told beforehand @Zircoz

[2021-01-29 18:02] Zircoz commented on #94
Will do from next time

[2021-01-30 10:21] jatinjain001 commented on #92
I would like to work on it

[2021-01-30 11:13] shriyaMadan commented on #86
implementation

[2021-01-30 11:14] #26 closed

[2021-01-30 11:15] #79 closed

[2021-02-02 14:59] shriyaMadan commented on #92
hi, @jatinjain001 are you working on it?

[2021-02-02 15:11] shriyaMadan opened #98 "make UI responsive for all devices"

[2021-02-02 16:59] jatinjain001 commented on #92
Sorry I cant working on it you can assign it to others

On Tue, Feb 2, 2021 at 8:29 PM Shriya Madan <notifications@github.com>
wrote:

[2021-02-08 06:20] Dhriti-Roy opened #99 "Contributors Table"
I want to work on this. Kindly assign it to me.

[2021-02-08 06:21] Dhriti-Roy commented on #99
Please assign this to me under DSOC label.

[2021-02-08 08:51] #99 closed

[2021-02-10 15:55] Dhriti-Roy commented on #94
I want to work on this

[2021-02-10 15:56] Dhriti-Roy commented on #94
Cn you please explain what excatly you want ?

[2021-02-11 04:02] shubhraagarwal commented on #98
I would like to work on this. Kindly assign it to me.

[2021-02-11 12:26] shriyaMadan commented on #86
Hey @SuNiL-Chau are you working on this one?

[2021-02-11 12:30] shriyaMadan commented on #98
Hi @shubhraagarwal you can also take up other UI issues.

[2021-02-11 12:33] shubhraagarwal commented on #98
Sure, let me finish this issue first and then I'll look into more UI enhancements

[2021-02-14 18:29] chait04 opened #101 "Add navyBlue Dark Mode Feature"
## 🔎 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/shriyaMadan/Youtube-Dashboard/blob/master/CONTRIBUTING.md)?

It already have dark mode but the blue one will look good

(Please explain why this feature should be implemented and how it would be used.)

[2021-02-15 07:05] Vrushti24 opened #102 "License"
## 📚 Documentation

(A clear and concise description of what the issue is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/shriyaMadan/Youtube-Dashboard/blob/master/CONTRIBUTING.md)?

This project does not contain any license . I think it's important to have license like MIT or any other

[2021-02-15 07:06] Vrushti24 commented on #102
I can work on this please assign to me

[2021-02-15 07:46] Zircoz commented on #94
There are many redundant operations in controller, for example:
https://github.com/shriyaMadan/Youtube-Dashboard/blob/f4b694a4a54b769201acf4ba3b385d83ba2e3163/controllers/controls.js#L97 to https://github.com/shriyaMadan/Youtube-Dashboard/blob/f4b694a4a54b769201acf4ba3b385d83ba2e3163/controllers/controls.js#L108 can be replaced with with
[code]
this issue's solver is supposed to identify them and

[2021-02-15 13:48] himanshu007-creator opened #103 "Add contributor's table in readme"
## 📚 Documentation

 I would like to add a contributor's table in README. I would like to contribute so please add <code>DWOC</code> and <code>Levek</code> tags accordingly

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/shriyaMadan/Youtube-Dashboard/blob/master/CONTRIBUTING.md)?

Yes

[2021-02-16 19:10] shriyaMadan commented on #102
yes you can go ahead with it

[2021-02-16 19:12] shriyaMadan commented on #101
Not needed rn, there are better things to do

[2021-02-16 19:12] #101 closed

[2021-02-17 04:59] achalesh27022003 commented on #92
@shriyaMadan  mam I would like to take this issue under DWoC but I can't understand that how changes I am making will be visible? Through vs code I am unable to run in live server though I created env  file, API key and Oauth client Id etc.

[2021-02-17 05:06] achalesh27022003 commented on #92
![shriya](https://user-images.githubusercontent.com/57138750/108158781-b0d10780-710b-11eb-86bc-4ab06f4b9c20.png)
It is coming like this when I run with live server.
 Secondly, when I am trying to login , then it is coming like this:
![shriya1](https://user-images.githubusercontent.com/57138750/108158887-e7a71d80-710b-11eb-80cd-3ffb746011ec.png)
Please help me and assign me this issue under DWoC.

[2021-02-17 05:07] achalesh27022003 commented on #92
I am thinking of some hover effects too!! and microanimation in youtube icon

[2021-02-17 05:10] Vrushti24 commented on #102
PR #104 done please check that

[2021-02-18 12:46] muthuannamalai12 opened #106 "Creation Of PR Template"
I can add a pr template , which will have few checklists and options like uploading screenshots and describing about the pr etc , which will give better understanding of pr for the maintainer

[2021-02-18 12:46] muthuannamalai12 commented on #106
@shriyaMadan I would love to work on this issue as a part of DWOC. Kindly assign it to me

[2021-02-22 08:32] #102 closed

[2021-02-22 08:33] shriyaMadan commented on #98
changes are not up to the mark

[2021-05-11 23:00] #93 closed

[2022-08-12 23:56] #94 closed

[2022-08-12 23:57] #16 closed

[2022-10-02 22:06] shriyaMadan opened #109 "bug in channel search Api implementation"
## 🐛 Bug Report